@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>优尔思校长在线</title>
    <link rel="stylesheet" type="text/css" href="~/Content/lib/weui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-weui.min.css" />
    @*<link rel="stylesheet" type="text/css" href="~/Content/style.css">*@
    <link rel="stylesheet" type="text/css" href="~/Content/lib/video-js.css">
    <style>
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        #my-header {
            background-color: #234;
            height: 135px;
            padding: 0px;
        }

        .img {
            width: 60px;
            height: 60px;
            margin-right: 20px;
            border-radius: 50%;
            float: left;
        }

        .nickName {
            font-size: 17px;
            color: #ffffff;
        }

        .desc {
            font-size: 12px;
            color: #ffffff;
            margin-top: 8px;
        }

        .huiyuan {
            width: 100px;
            height: 30px;
            line-height: 30px;
            margin: 10px auto;
            background-color: #1E90FF;
            text-align: center;
            color: #ffffff;
            border-radius: 25px;
            -moz-border-radius: 25px;
            font-size: 14px;
        }
    </style>
</head>

<body ontouchstart>

    <div class="weui-tab">
        <div class="weui-tab__bd">
            <header id='my-header' style="background-color:#234">
                <div class="weui-flex">
                    <div class="weui-flex__item" style="padding:20px;">
                        <img src="/Content/img/headimg.jpg" class="img">
                        <div class="nickName">追逐我的明天</div>
                        <div class="desc">把知识装进口袋，让学习变得简单</div>
                        <div class="huiyuan">+加入会员</div>
                    </div>
                </div>
            </header>

            <div class="bd">
                <div class="page__bd">
                    <div class="weui-cells" style="margin-top:10px;">
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="/Content/img/qianbao.png" alt="" style="width:20px;margin-right:10px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>我的钱包</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="/Content/img/qiandao.png" alt="" style="width:20px;margin-right:10px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>我的签到</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="/Content/img/huiyuanquanyi.png" alt="" style="width:20px;margin-right:10px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>会员权益</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="/Content/img/guankanjilu.png" alt="" style="width:20px;margin-right:10px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>观看记录</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                        <a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="/Content/img/goumai.png" alt="" style="width:20px;margin-right:10px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>购买课程</p>
                            </div>
                            <div class="weui-cell__ft"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui-tabbar">
            <a href="@Url.Action("Index")" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="~/Content/img/icos/icon_nav_shouye_off.png" />
                </div>
                <p class="weui-tabbar__label">首页</p>
            </a>
            <a href="@Url.Action("Shop")" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="~/Content/img/icos/icon_nav_shop_off.png" />
                </div>
                <p class="weui-tabbar__label">商城</p>
            </a>
            <a href="#" class="weui-tabbar__item weui-bar__item--on">
                <div class="weui-tabbar__icon">
                    <img src="~/Content/img/icos/icon_nav_my_on.png" />
                </div>
                <p class="weui-tabbar__label">我的</p>
            </a>
        </div>
    </div>

    <script src="~/Content/lib/jquery-2.1.4.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/fastclick.js"></script>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });
    </script>
    <script src="~/Scripts/jquery-weui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Scripts/swiper.min.js"></script>
    <script src="~/Content/lib/video.min.js"></script>
    @*<script src="http://vjs.zencdn.net/5.19/lang/zh-CN.js"></script>*@

</body>

</html>